version: '3.8'

services:
  # MySQL服务
  mysql:
    image: mysql:latest
    container_name: xxl-job-mysql
    environment:
      MYSQL_ROOT_PASSWORD: 479368
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: xxl_job
      MYSQL_USER: xxl_job
      MYSQL_PASSWORD: 479368
      MYSQL_USER_HOST: "%"
    ports:
      - "3307:3306"
    volumes:
      - ./xxl-job.sql:/docker-entrypoint-initdb.d/mysql-init.sql   # 将 mysql-init.sql 文件挂载到容器内，用于初始化数据库。

  # XXL-JOB调度中心
  xxl-job-admin:
    image: xuxueli/xxl-job-admin:2.4.1
    container_name: xxl-job-admin
    restart: always
    environment:
      PARAMS: '
      --server.port=8080 
      --spring.datasource.url=jdbc:mysql://mysql:3307/xxl_job?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=Asia/Shanghai
      --spring.datasource.username=xxl_job 
      --spring.datasource.password=479368 
      --spring.mail.host=smtp.qq.com
      --spring.mail.port=465
      --spring.mail.username=2320391937@qq.com
      --spring.mail.password=cirsunfiojwqdhhh
      --xxl.job.accessToken=6b6Z6Iy25riF5qyi
      '
    ports:
      - "8080:8080"
    depends_on:
      - mysql

volumes:
  mysql_data:


# xxl-job 源码仓库 https://gitee.com/xuxueli0323/xxl-job